body
{
	background-color: #696969;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	color: white;
}

#cont
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	margin-top: 40px;
	font-size: 48px;
	letter-spacing: 3px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:700;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	text-align: center;
	padding: 5px;
}

#topbar
{
	background-color: darkslategray;
	color: white;
	width: 960px;
	margin-bottom: 15px;
	height: 175px;
	margin-top: 15px;
}

#topbarL
{
	float:left;
	font-family: 'Dancing Script', sans-serif;
	font-size: 22px;
	padding: 20px;
	width: 148px;
	text-align: center;
}

#topbarR
{
	float: left;
	width: 810px;
	height: 175px;
	text-align: justify;
	background-image: url(../images/tlo.jpg);
	border-left: 2px solid #666666;
}

#sidebarr
{
	float: left;
	width: 148px;
	min-height: 671px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
	color: black;
}

#contentt
{
	float: left;
	padding: 40px;
	width: 810px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
	color: black;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 16px;
}

.categories
{
	padding: 5px;
	width: 700px;
	height: 45px;
	text-align: center;
	background-color: #FAC3AB;
}

.option
{
	float: left;
	font-size: 18px;
	width: 172px;
	min-height: 40px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
	line-height: 40px;
	padding: 5px;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:16px;
	line-height: 30px;
	height:30px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

.bigtitle
{
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Dancing Script', sans-serif;
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}

.mytitle
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 38px;
	font-weight: 700;
}

.podtitle
{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
	font-weight: 700;
}

.smalltitle
{
	font-family: 'Verdana', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	cursor: pointer;
}

.innytitle
{
	font-family: 'Dancing Script', sans-serif;
	font-size: 26px;
	font-weight: 700;
}

.a1:link
{
	color: white;
	text-decoration: none;
}

.a1:visited
{
	color: white;
	text-decoration: none;
}

.a1:hover
{
	color: white;
	text-decoration: none;
}

.naglowek
{
	background-color: #2ECEB0;
	font-weight: 700;
}
.naglowek:hover
{
	background-color: #2ECEB0;
}

td:hover
{
	background-color:  darkslategray;
}

table
{
	border-collapse: collapse;
	width: 100%;
	font-size:16px;
	background-color: whitesmoke;
	color: black;
}

table, td, thead, th
{
	border: 1px solid black;
	padding: 5px;
}

th
{
	background-color: #C8CACE;
}

li
{
	list-style-type: circle;
	margin-outside: 5px;
}

.lista a, .lista a:hover, .lista a:visited
{
	list-style-type: circle;
	margin-left: -10px;
}

.punktory
{
	margin-left: 7px;
	cursor: hand;
}

.metka
{
	font-family: Verdana, sans-serif;
	font-size: 16px;
	color: black;
}

.ramka
{
	max-height: 24px;
	width: 200px;
	font-size: 14px;
	padding: 5px;
	color: black;
	background-color: white;
	border: 1px solid #696969;
}

.login_button
{
	width: 125px;
	height: 32px;
	color: white;
	text-align: center;
	font-family: Verdana, sans-serif;
	background-color: coral;
	cursor: hand;
	border: none;
	padding: 3px;
}

.login_button span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.login_button span:after
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -15px;
	transition: 0.5s;
}

.login_button:hover span {
	padding-right: 15px;
	transition: 0.5s;
}

.login_button:hover span:after {
	opacity: 1;
	right: 0;
}

.a2:link, .a2:hover, .a2:visited
{
	color: black;
	text-decoration: none;
	font-weight: 600;
}

#tabela
{
	font-size: 18px;
	width: auto;
}

.cross_button
{
	background-color: #dedede;
	float: right;
	margin-right: 50px;
	cursor: pointer;
	border: none;
	outline: none;
}

.koszyk_button
{
	background-color: #dedede;
	float: right;
	margin-right: 50px;
	cursor: hand;
	border: none;
	outline: none;
	cursor: pointer;
}

.koszyk_button:hover
{
	background-color: #dedede;
	cursor: hand;
}

.koszyk_button:active
{
  background-color: #dedede;
  transform: translateY(5px);
}

.opis
{
	width: 700px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height:auto;
}

#obrazek
{
	height: 320px;
	width: 480px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images/pb.jpg);
}
