{% extends 'attractions/base.html' %}
{% load staticfiles %}
<body>
<div id="content">
    {% block content %}
    <span class="mytitle">Logowanie</span>
    <div style="height: 40px;"></div>
    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="login_button" style="margin-left: 95px;" type="submit"><span>Login</span></button>
            <div style="height: 50px;"></div>
            Jeśli nie masz jeszcze konta
            <a class="a2" href="{% url 'rejestracja' %}">Zarejestruj się</a>
        </div>
    </form>


    {% endblock content %}
</div>
</body>
