{% extends 'attractions/base.html' %}
{% load staticfiles %}
{% load my_tags %}
<body>
<div id="content">
    {% block content %}
    <span class="mytitle">Atrakcje</span>

    <div style="height: 20px;"></div>

    <!-- Wyświetlenie muzeów -->

    <div class="categories">
        <span class="podtitle">Muzeum</span>
    </div>
    <div style="height: 30px;"></div>

    {% for muzea in muzea %}
    <div class="punktory">

        <li class="lista"><span onclick="switchInfo('{{ muzea.id }}')" class="smalltitle">{{muzea.a_name}}</span>
            {% if user.is_authenticated %}
            {% if request.session.bucket|get_item:muzea.id is None or request.session.bucket is None %}
            <a class="koszyk_button" href="/attractions/add/{{ muzea.id }}/"><img src="/static/images/koszyk.png"/></a>
            {% else %}
            <a class="koszyk_button" style="text-decoration: none; color: black;" href="/attractions/delete/{{ muzea.id }}/">Usuń</a>
            {% endif %}
            {% endif %}
            <div id="{{ muzea.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{muzea.description}}<br/><br/>
                <b>Adres: </b>{{muzea.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{muzea.open_time}} - {{muzea.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{muzea.visit_time}}<br/><br/>
                <b>Cena: </b>{{muzea.price}}
            </div>
            <div style="height: 30px;"></div>
    </div>
    {% endfor %}

    <!-- Wyświetlenie obiektów sakralnych -->

    <div class="categories">
        <span class="podtitle">Obiekt sakralny</span>
    </div>
    <div style="height: 30px;"></div>

    {% for sakralne in sakralne %}
    <div class="punktory">
        <li class="lista"><span onclick="switchInfo('{{ sakralne.id }}')" class="smalltitle">{{sakralne.a_name}}</span>
            {% if user.is_authenticated %}
            {% if request.session.bucket|get_item:sakralne.id is None or request.session.bucket is None %}
            <a class="koszyk_button" href="/attractions/add/{{ sakralne.id }}/"><img
                    src="/static/images/koszyk.png"/></a>
            {% else %}
            <a class="koszyk_button" style="text-decoration: none; color: black;" href="/attractions/delete/{{ sakralne.id }}/">Usuń</a>
            {% endif %}
            {% endif %}
            <div id="{{ sakralne.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{sakralne.description}}<br/><br/>
                <b>Adres: </b>{{sakralne.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{sakralne.open_time}} - {{sakralne.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{sakralne.visit_time}}<br/><br/>
                <b>Cena: </b>{{sakralne.price}}
            </div>
            <div style="height: 30px;"></div>
    </div>
    {% endfor %}

    <!-- Wyświetlenie pomników-->

    <div class="categories">
        <span class="podtitle">Pomnik</span>
    </div>
    <div style="height: 30px;"></div>

    {% for pomniki in pomniki %}
    <div class="punktory">
        <li class="lista"><span onclick="switchInfo('{{ pomniki.id }}')" class="smalltitle">{{pomniki.a_name}}</span>
            {% if user.is_authenticated %}
            {% if request.session.bucket|get_item:pomniki.id is None or request.session.bucket is None %}
            <a class="koszyk_button" href="/attractions/add/{{ pomniki.id }}/"><img
                    src="/static/images/koszyk.png"/></a>
            {% else %}
            <a class="koszyk_button" style="text-decoration: none; color: black;" href="/attractions/delete/{{ pomniki.id }}/">Usuń</a>
            {% endif %}
            {% endif %}
            <div id="{{ pomniki.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{pomniki.description}}<br/><br/>
                <b>Adres: </b>{{pomniki.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{pomniki.open_time}} - {{pomniki.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{pomniki.visit_time}}<br/><br/>
                <b>Cena: </b>{{pomniki.price}}
            </div>
            <div style="height: 30px;"></div>
    </div>
    {% endfor %}

    <!-- Wyświetlenie parków -->

    <div class="categories">
        <span class="podtitle">Park</span>
    </div>
    <div style="height: 30px;"></div>

    {% for parki in parki %}
    <div class="punktory">
        <li class="lista"><span onclick="switchInfo('{{ parki.id }}')" class="smalltitle">{{parki.a_name}}</span>
            {% if user.is_authenticated %}
            {% if request.session.bucket|get_item:parki.id is None or request.session.bucket is None %}
            <a class="koszyk_button" href="/attractions/add/{{ parki.id }}/"><img src="/static/images/koszyk.png"/></a>
            {% else %}
            <a class="koszyk_button" style="text-decoration: none; color: black;" href="/attractions/delete/{{ parki.id }}/">Usuń</a>
            {% endif %}
            {% endif %}
            <div id="{{ parki.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{parki.description}}<br/><br/>
                <b>Adres: </b>{{parki.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{parki.open_time}} - {{parki.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{parki.visit_time}}<br/><br/>
                <b>Cena: </b>{{parki.price}}
            </div>
            <div style="height: 30px;"></div>
    </div>
    {% endfor %}

    <!-- Wyświetlenie zabytków -->

    <div class="categories">
        <span class="podtitle">Zabytek</span>
    </div>
    <div style="height: 30px;"></div>

    {% for zabytki in zabytki %}
    <div class="punktory">
        <li class="lista"><span onclick="switchInfo('{{ zabytki.id }}')" class="smalltitle">{{zabytki.a_name}}</span>
            {% if user.is_authenticated %}
            {% if request.session.bucket|get_item:zabytki.id is None or request.session.bucket is None %}
            <a class="koszyk_button" href="/attractions/add/{{ zabytki.id }}/"><img
                    src="/static/images/koszyk.png"/></a>
            {% else %}
            <a class="koszyk_button" style="text-decoration: none; color: black;" href="/attractions/delete/{{ zabytki.id }}/">Usuń</a>
            {% endif %}
            {% endif %}
            <div id="{{ zabytki.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{zabytki.description}}<br/><br/>
                <b>Adres: </b>{{zabytki.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{zabytki.open_time}} - {{zabytki.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{zabytki.visit_time}}<br/><br/>
                <b>Cena: </b>{{zabytki.price}}
            </div>
            <div style="height: 30px;"></div>
    </div>
    {% endfor %}

    <!-- Wyświetlenie obiektów rozrywkowych -->

    <div class="categories">
        <span class="podtitle">Rozrywka</span>
    </div>
    <div style="height: 30px;"></div>

    {% for rozrywkowe in rozrywkowe %}
    <div class="punktory">
        <li class="lista"><span onclick="switchInfo('{{ rozrywkowe.id }}')"
                                class="smalltitle">{{rozrywkowe.a_name}}</span>
            {% if user.is_authenticated %}
            {% if request.session.bucket|get_item:rozrywkowe.id is None or request.session.bucket is None %}
            <a class="koszyk_button" href="/attractions/add/{{ rozrywkowe.id }}/"><img src="/static/images/koszyk.png"/></a>
            {% else %}
            <a class="koszyk_button" style="text-decoration: none; color: black;" href="/attractions/delete/{{ rozrywkowe.id }}/"/>Usuń</a>
            {% endif %}
            {% endif %}
            <div id="{{ rozrywkowe.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{rozrywkowe.description}}<br/><br/>
                <b>Adres: </b>{{rozrywkowe.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{rozrywkowe.open_time}} - {{rozrywkowe.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{rozrywkowe.visit_time}}<br/><br/>
                <b>Cena: </b>{{rozrywkowe.price}}
            </div>
            <div style="height: 30px;"></div>
    </div>
    {% endfor %}

    &nbsp;_____________________________________________________________________________

    <div style="height: 15px;"></div>
    {% if user.is_authenticated %}
    <span class="podtitle" style="margin-left: 250px;">Zawartość koszyka:</span>
    <div style="height: 30px;"></div>
    {% for key, value in request.session.bucket.items %}
    <li>{{ value }}</li>
    {% endfor %}
    {% endif %}
</div>

{% endblock content %}
</body>
