{% extends 'attractions/base.html' %}
{% load staticfiles %}
<body>
<div id="content">
    {% block content %}
    <span class="mytitle">Atrakcja usunięta</span>
    <div style="height: 20px;"></div>
    <br/>
    _______________________________________________________________________
    <div style="height: 15px;"></div>
    <a style="text-decoration: none; color: black;" href="{% url 'atrakcje' %}">Powrót do atrakcji</a>


    {% endblock content %}
</div>
</body>
