<!DOCTYPE html> {% load staticfiles %}
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<title>Przewodnik po mieście</title>
	<meta name="description" content="To jest strona projektowa aplikacji na zajęcia RSWTA" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Kalam|Quicksand|Josefin+Sans&subset=latin-ext" rel="stylesheet">
	<script type="text/javascript" src="/static/js/ukryty_tekst.js"></script>
	<script type="text/javascript" src="/static/js/koszyczek.js"></script>
	<script src='https://www.google.com/recaptcha/api.js' async defer></script>
	<style>
		#map {
			height: 600px;
		}
	</style>


</head>

<body>
	<div id="cont">

		<div id="logo">
			Przewodnik po mieście Białystok
		</div>
		
		<nav class="navbar navbar-inverse " style="width: 960px;">
			<div class="container-fluid">
				{% if user.is_anonymous %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
				</ul>
				{% else %} 
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user }}</a></li>
					<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a></li>
				</ul>
				{% endif %}
				<div style="clear:both;"></div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
					</ul>
				</div>
			</div>
		</nav>






		<div id="topbar">
			<div id="topbarL">
				<div style="height: 20px;"></div>
				<span class="bigtitle">Białystok</span>
				<div style="height: 10px;"></div>
				to piękne miasto!
			</div>
			<div id="topbarR">

			</div>

			<div style="clear:both;"></div>
		</div>

		<div id="sidebarr">

			<a href="{% url 'index' %}" style="color: black; text-decoration: none;">
					<div style=" height: 75px" class="optionL">Strona główna</div>
				</a>
				<a href="{% url 'atrakcje' %}" style="color: black; text-decoration: none;">
					<div style=" height: 55px" class="optionL">Atrakcje</div>
				</a>
				<a href="{% url 'wydarzenia' %}" style="color: black; text-decoration: none;">
					<div style=" height: 55px" class="optionL">Wydarzenia</div>
				</a>
				<a href="{% url 'drogi' %}" style="color: black; text-decoration: none;">
					<div style=" height: 80px" class="optionL">Gotowe trasy</div>
				</a>
				{% if user.is_authenticated %}
				<a href="{% url 'koszyk' %}" style="color: black; text-decoration: none;">
					<div style=" height: 75px" class="optionL">Mój koszyk</div>
				</a>
				{% endif %}
			</div>

			<div id="contentt">
                {% block content %}
                {% endblock %}
			</div>

			<div id="footer">
			Przewodnik po mieście Białystok. Strona w sieci od 2017r. &copy; Wszelkie prawa zastrzeżone
			</div>

		</div>
</body>
</html>
