{% extends 'attractions/base.html' %}
{% load staticfiles %}
<body>
<div id="content">
    {% block content %}
    <span class="mytitle">Gotowe trasy</span>
    <div class="punktory">

        <div style="height: 20px;"></div>
        <br/>

        {% for droga in drogi %}
        {% if droga.route_name != "" %}
        <li class="lista">
            <span class="smalltitle"><a style="text-decoration: none; color: black;" href="/routes/{{ droga.id }}/">{{ droga.route_name}}</a></span>
        </li>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock content %}
</body>
