{% extends 'attractions/base.html' %}
{% load staticfiles %}
{% load my_tags %}
<body>

<div id="content">
    {% block content %}
    <span class="mytitle">{{ droga.route_name }}</span>
    <div style="height: 20px;"></div>
    <br/>


    {% for atrakcja in droga.attractions.all %}
    <div class="punktory">
        <li class="lista"><span onclick="switchInfo('{{ atrakcja.id }}')" class="smalltitle">{{atrakcja.a_name}}</span>
            <div id="{{ atrakcja.id }}" style="display:none">
                <div style="height: 15px;"></div>
                {{atrakcja.description}}<br/><br/>
                <b>Adres: </b>{{atrakcja.address}}<br/><br/>
                <b>Godziny otwarcia: </b>{{atrakcja.open_time}} - {{atrakcja.close_time}}<br/><br/>
                <b>Czas potrzebny do zwiedzenia: </b>{{atrakcja.visit_time}}<br/><br/>
                <b>Cena: </b>{{atrakcja.price}}
            </div>
            <div style="height: 30px;"></div>

    </div>

    {% endfor %}
    <div class="smalltitle" id="dlugosc"></div>
    <div style="height: 30px;"></div>
    <div id="map" style="width: 500px; height: 500px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
    <script>
            function initialize() {
                var map = new google.maps.Map(document.getElementById('map'));
                var bounds = new google.maps.LatLngBounds();


                function addMarker(lat, lng, title, lb) {
                    var position = new google.maps.LatLng(lat, lng);
                    var marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        label: lb,
                        title: title
                    });
                    var infowindow = new google.maps.InfoWindow({
                      content: "<b>"+title+"</b>"
                    });
                    marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });
                    bounds.extend(position);
                }

                addMarker({{ droga.start.position.latitude|floatable }}, {{ droga.start.position.longitude|floatable }}, "{{ droga.start.a_name }}", "S");
                addMarker({{ droga.end.position.latitude|floatable }}, {{ droga.end.position.longitude|floatable }}, "{{ droga.end.a_name }}", "F");
                {% for atrakcja in droga.attractions.all %}
                    addMarker({{ atrakcja.position.latitude|floatable }}, {{ atrakcja.position.longitude|floatable }}, "{{ atrakcja.a_name }}", null);
                {% endfor %}

                var arrCoords = [
                    new google.maps.LatLng({{ droga.start.position.latitude|floatable }}, {{ droga.start.position.longitude|floatable }}),
                {% for atrakcja in droga.attractions.all %}
                    {% if atrakcja.position.latitude != droga.start.position.latitude and atrakcja.position.latitude != droga.end.position.latitude %}
                    new google.maps.LatLng({{ atrakcja.position.latitude|floatable }}, {{ atrakcja.position.longitude|floatable }}),
                    {% endif %}
                {% endfor %}
                    new google.maps.LatLng({{ droga.end.position.latitude|floatable }}, {{ droga.end.position.longitude|floatable }})
                ];
                start = new google.maps.LatLng({{ droga.start.position.latitude|floatable }}, {{ droga.start.position.longitude|floatable }});
                end = new google.maps.LatLng({{ droga.end.position.latitude|floatable }}, {{ droga.end.position.longitude|floatable }});

                var places = [];
                for(i = 0; i < arrCoords.length; i++) {
                    places.push(arrCoords[i]);
                }

                var service = new google.maps.DistanceMatrixService;
                service.getDistanceMatrix({
                    origins: places,
                    destinations: places,
                    travelMode: google.maps.TravelMode.WALKING
                }, function (res, status) {
                    console.log(res, "DistanceMatrixService result");

                    var visitedCounter, v, current, dl;
                    visitedCounter = 0;
                    v = 0;
                    dl = 0;
                    current = 0;
                    var minE;
                    var route = [];
                    var visited = [];
                    for(i = 0; i < res.rows.length; i++){
                        visited.push(0);
                    }
                    route.push(0);

                    while( visitedCounter < res.rows.length) {
                        minE = Number.MAX_VALUE;
                        for(i = 1; i < res.rows.length-1; i++ ) {
                            if( i != current && res.rows[current].elements[i].distance.value < minE && visited[i]==0) {
                                minE = res.rows[current].elements[i].distance.value;
                                v = i;
                            }
                        }
                        if (minE == Number.MAX_VALUE) {
                            break;
                        }
                        visitedCounter++;
                        visited[v] = 1;
                        dl += res.rows[current].elements[v].distance.value;
                        route.push(v);
                        current = v;
                    }
                    dl += res.rows[current].elements[res.rows.length-1].distance.value;
                    route.push(res.rows.length-1);
                    for (i = 0; i < route.length-1; i++) {
                        calculateAndDisplayRoute(places[route[i]], places[route[i+1]]);
                    }
                    dl = dl/1000
                    document.getElementById("dlugosc").innerHTML = "Długość trasy: "+dl+ "km"
                });



                function calculateAndDisplayRoute(adres1, adres2) {
                var directionsService = new google.maps.DirectionsService;
                var directionsDisplay = new google.maps.DirectionsRenderer({
                  suppressMarkers: true,
                  suppressInfoWindows: false
                });
                directionsDisplay.setMap(map);
                directionsService.route({
                  origin: adres1,
                  destination: adres2,
                  travelMode: google.maps.DirectionsTravelMode.WALKING

                }, function(response, status) {
                  if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                  } else {
                    window.alert('Directions request failed due to ' + status);
                  }
                });
              }

                map.fitBounds(bounds);
            }
            google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <a class="login_button" href="{% url 'stworzpdf' droga_id=droga.id%}"  style="margin-left: 95px;" type="submit"><span>Wygeneruj PDF</span></a>
</div>
{% endblock content %}

</body>
