{% extends 'attractions/base.html' %}
{% load staticfiles %}
<body>
	<div id="content">
{% block content %}
		<span class="mytitle">Witamy w Białymstoku!</span>
		<div style="height: 25px;"></div>

		<div class="opis">
			&nbsp;Białystok to miasto na prawach powiatu w północno-wschodniej Polsce, położone na Nizinie Północnopodlaskiej,
			nad rzeką Białą. Jest stolicą województwa podlaskiego i siedzibą władz ziemskiego powiatu białostockiego.
			Według danych z 30 czerwca 2016 r. miasto miało 296 310 mieszkańców.<br />
			&nbsp;Wśród miast wojewódzkich Polski, Białystok jest drugim miastem pod względem gęstości zaludnienia i
			jedenastym pod względem liczby ludności. Białystok pełni funkcję administracyjnego, gospodarczego,
			naukowego i kulturalnego centrum regionu. Miasto z przyległymi gminami tworzy aglomerację białostocką.
		</div>

		<div style="height: 35px;"></div>
		<div id="obrazek"></div>
{% endblock content %}
	</div>
</body>
