{% extends 'attractions/base.html' %}
{% load staticfiles %}
<body>
<div id="content">
    {% block content %}
    <span class="mytitle">Mój koszyk:</span>
    <div style="height: 25px;"></div>

    <span class="podtitle" style="margin-left: 250px;">Zawartość koszyka:</span>
    <div style="height: 30px;"></div>
    {% for key, value in request.session.bucket.items %}
    <li>{{ value }}</li>
    {% endfor %}
    <a href="/basket/map/">Generuj mapę</a>

</div>


{% endblock content %}

</div>
</body>
