{% extends 'attractions/base.html' %} {% load staticfiles %}

<body>
	<div id="content">
		{% block content %}
		<span class="mytitle">Tworzenie nowego konta</span>
		<div style="height: 40px;"></div>
		<form method="post" action="">
			<fieldset style="border: none;">
				{% csrf_token %}
				<div class="form-group">
					<label for="usr">Login:</label>
					<input class="form-control" type="text" id="login" name="login" required>

					<label for="usr">E-mail:</label>
					<input class="form-control" type="text" id="mail" name="mail" required>

					<label for="usr">Hasło:</label>
					<input class="form-control" type="password" id="password" name="haslo" required>
				</div>




				<div style="height: 30px;"></div>
				<div class="g-recaptcha" data-sitekey="6Lcisx8UAAAAAOD91SnQyqIQ_UL7vIjnOYcZ1qaX"></div>
				<div style="height: 30px;"></div>
				<button class="login_button" style="margin-left: 95px;" type="submit"><span>Załóż konto</span></button>
			</fieldset>
		</form>
		{% endblock content %}
	</div>
</body>