{% extends 'attractions/base.html' %} {% load staticfiles %} {% block content %}


<!-- Wyswietlanie Wydarzen -->

<span class="mytitle">Wydarzenia</span>
<div style="height: 15px;"></div>
{% for lista in lista_eventow %}
<!--div class="punktory">
	<li class="lista">
		<span onclick="switchInfo('{{lista.e_name}}')" class="smalltitle">{{lista.e_name}}</span>
		<div id="{{ lista.e_name }}" style="display:none">
			<div style="height: 15px;"></div>
			{{lista.description}}<br /><br />
			<b>Gdzie: </b>{{lista.attraction.a_name}}<br /><br />
			<b>Kiedy: </b>{{lista.date}}<br /><br />
			<b>O której: </b>{{lista.open_time}}<br /><br />
		</div>
		<div style="height: 30px;"></div>
</div-->
{% endfor %}
<link rel="stylesheet" href="{% static 'css/kalendarz.css' %}">
<script type="text/javascript" src="/static/js/kalendar.js"></script>

<!-- Koniec Wydarzen -->
<ul class="pager">
  <li class="previous"><a href="{% url 'wydarzenia' rok=rok miesiac=miesiac tmp=0 %}">Poprzedni</a></li>
  <li class="next"><a href="{% url 'wydarzenia' rok=rok miesiac=miesiac tmp=1 %}">Następny</a></li>
</ul>

{{ htmlcode|safe }} 

{% endblock content %}
