{% extends 'attractions/base.html' %}
{% load staticfiles %}
<body>
	<div id="content">
{% block content %}
		<span class="mytitle">Logged out!</span>
		<div style="height: 25px;"></div>
{% endblock content %}
	</div>
</body>
